{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <title>Image Classifier</title>
</head>
<body>
<div style="height: 50px"></div>
<div class="container">
    <h2>Player Classifier</h2>
    <div class="row" style="margin-top: 30px">
        <div class="col-lg-4">
            <img src="{% static 'test1.jpg' %}" style="height: 200px; width: 200px; border-radius: 50%">
            <h5>Messi</h5>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'test3.jpg' %}" style="height: 200px; width: 200px; border-radius: 50%">
            <h5>Ronaldo</h5>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'test5.jpg' %}" style="height: 200px; width: 250px; border-radius: 50%">
            <h5>Mbappe</h5>
        </div>
    </div>
    <div class="row" style="margin-top: 50px">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" action="{% url 'classify_image' %}">
                {% csrf_token %}
                <p>Only capable to recognize the players above</p>
                <label>Upload an image to classify</label>
                <input type="file" name="file"><br><br>
                <button class="btn btn-success" type="submit">Classify</button>
            </form>
        </div>
        <div class="col-md-6">
            <h2>{{ name }}</h2>
            <p>(Result may not be accurate sometimes as the model is not well-trained)</p>
        </div>
    </div>
</div>
</body>
</html>